
<h1> <%= $player1.name %> vs. <%= $player2.name %>: </h2>
<h2> BEGIN! </h2>
<%= $player2.name %>: HP - <%= @player2_hit_points %>
<form action='/attack', method='get'>
  <input type='submit', value='Attack'>
</form>
